@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .scroll-smooth {
    scroll-behavior: smooth;
  }

  .scroll-pt-70 {
    scroll-padding-top: 70px;
  }
} */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Barlow", sans-serif;
}

.hero-bg {
  background: url("../src/assets/oval-bg.png"),
    radial-gradient(
      circle at 69% 50%,
      rgba(215, 103, 215, 0.9) 6%,
      rgba(49, 10, 42, 0.9) 32%
    ),
    url("../src/assets/hero-bg.jpg");

  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  color: white;
}

.roadmap-bg {
  background: url("../src/assets/roadmap-bg.png"), rgba(0, 0, 0, 0.79) 100%;

  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  color: white;
}

@layer base {
  html,
  body {
    @apply scroll-smooth scroll-pt-[70px];
  }

  button {
    @apply rounded-full  bg-gradient-to-r from-[#F41FB9] to-[#7138D3] py-1 px-5 md:py-2 md:px-8 
     text-white font-normal duration-300;
  }
}

@layer components {
  .container {
    @apply max-w-[1234px] mx-auto;
  }
}
